<nav>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="font-weight-bold">
        My JavaScript apps
      </span>
    </li>
    <li class="list-group-item">
      <a href="../vanilla-js-1/">
        1 - Canvas Spaceship Game
      </a>
    </li>
    <li class="list-group-item">
      <a href="../vanilla-js-2/">
        2 - ToDo app
      </a>
    </li>

    <li class="list-group-item">
      <a href="../vanilla-js-3/">
        3 - Mouse and shape
      </a>
    </li>
    <li class="list-group-item">
      <a href="../vanilla-js-4/">
        4 - Air Tickets
      </a>
    </li>
    <li class="list-group-item">
      <a href="../vanilla-js-5/">
        5 - XMLHttpRequest/Fetch
      </a>
    </li>

    <li class="list-group-item">
      <a href="../vanilla-js-6/">
        6 - Menu
      </a>
    </li>
    <li class="list-group-item">
      <a href="../vanilla-js-7/">
        7 - VISA/MasterCard
      </a>
    </li>

    <li class="list-group-item">
      <a href="../vanilla-js-8/">
        8 - FavoriteFilm
      </a>
    </li>
    <li class="list-group-item">
      <a href="../vanilla-js-9/">
        9 - Change Text
      </a>
    </li>
  </ul>
</nav>
