<aside class="pt-3 sticky-top">
  <!-- Commercial Projects -->
  <ul class="list-group mb-1">
    <li class="list-group-item">
      <span class="font-weight-bold">
        My commercial projects
      </span>
    </li>
    <li class="list-group-item">
      <a href="http://www.trainerdasha.com" target="_blank">
        1 - www.trainerdasha.com
      </a>
    </li>
    <li class="list-group-item">
      <a href="http://www.actorviktor.kiev.ua" target="_blank">
        2 - www.actorviktor.kiev.ua
      </a>
    </li>
    <li class="list-group-item">
      <a href="https://van-yog.github.io/hodulist/build/" target="_blank">
        3 - www.hodulist.org.ua
      </a>
    </li>
    <li class="list-group-item">
      <a href="http://www.migom-service.ru" target="_blank">
        4 - www.migom-service.ru
      </a>
    </li>
    <li class="list-group-item">
      <a href="https://van-yog.github.io/freelife-studio/" target="_blank">
        5 - www.freelife-studio.org
      </a>
    </li>
  </ul>

  <ul class="list-group mb-1">
    <li class="list-group-item">
      <span class="font-weight-bold">
        React.js apps
      </span>
    </li>
    <li class="list-group-item">
      <a href="../react-js-1/build/">
        1 - Todo app
      </a>
    </li>
  </ul>

  <!-- <ul class="list-group mb-1">
      <li class="list-group-item">
        <span class="font-weight-bold">
          Vue.js apps
        </span>
      </li>
      <li class="list-group-item">
        <a  href="./programs/react-js-1/build/">
          1 - Todo app
        </a>
      </li>
    </ul> -->

  <!-- Template -->
  <!-- <ul class="list-group mb-1">
      <li class="list-group-item">
        <span class="font-weight-bold">
          Template
        </span>
      </li>
      <li class="list-group-item">
        <a  href="https://van-yog.github.io/FrontEnd-HTML/">
         1 - Main Academy
        </a>
      </li>
      <li class="list-group-item">
        <a  href="https://van-yog.github.io/FrontEnd-HTML/bootstrap/index.html">
          Main Academy bootstrap
        </a>
      </li>
    </ul> -->

  <!-- History of my first steps into Front-End -->

  <!-- <ul class="list-group mb-1">
    <li class="list-group-item">
      <span class="font-weight-bold">
        History of the first steps
      </span>
    </li>
    <li class="list-group-item">
      <a href="./history/history1/history1.html">1 - 08.10.2019</a>
    </li>
    <li class="list-group-item">
      <a href="./history/history2/history2.html">2 - 10.10.2019</a>
    </li>
    <li class="list-group-item">
      <a href="./history/history3/history3.html">3 - 18.10.2019</a>
    </li>
    <li class="list-group-item">
      <a href="./history/history4/history4.html">4 - 22.10.2019</a>
    </li>
    <li class="list-group-item">
      <a href="./history/history5/history5.html">5 - 28.10.2019</a>
    </li>
  </ul> -->
</aside>
