<nav>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="font-weight-bold ">
                My JavaScript apps
            </span>
        </li>
        <li class="list-group-item">
            <a href="../program1/program1.html">
                1 - Change Text
            </a>
        </li>
        <li class="list-group-item">
            <a href="../program2/program2.html">
                2 - FavoriteFilm
            </a>
        </li>
        <li class="list-group-item">
            <a href="../program3/program3.html">
                3 - Mouse and shape
            </a>
        </li>
        <li class="list-group-item">
            <a href="../program4/program4.html">
                4 - VISA/MasterCard
            </a>
        </li>
        <li class="list-group-item">
            <a href="../program5/program5.html">
                5 - Menu
            </a>
        </li>
        <li class="list-group-item">
            <a href="../program6/program6.html">
                6 - Air Tickets
            </a>
        </li>
        <li class="list-group-item">
            <a href="../program7/program7.html">
                7 - XMLHttpRequest/Fetch
            </a>
        </li>
        <li class="list-group-item">
            <a href="../program8/program8.html">
                8 - Canvas Bird Game
            </a>
        </li>
        <li class="list-group-item">
            <a href="../program9/program9.html">
                9 - ToDo app
            </a>
        </li>
    </ul>
</nav>