<footer class="footer">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center p-2 mt-4 bg-light">
      <div class="col-12 col-md-2">
        <p>Social</p>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/ivanfilming" target="_blank">
              <img class="mr-1" src="../../src/icon/facebook_blue.png" alt="facebook" width="20" />
              facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/papakakmama/" target="_blank">
              <img class="mr-1" src="../../src/icon/insta_blue.png" alt="insta" width="20" />
              instagram
            </a>
          </li>
          <li>
            <a class="d-inline d-md-none" href="viber://add?number=380731016141" target="_blank">
              <img class="img-fluid mr-1" src="../../src/icon/viber_blue.png" width="20" alt="viber" />
              viber
            </a>
          </li>
          <li>
            <a class="d-none d-md-inline" href="viber://chat?number=%2B380731016141" target="_blank">
              <img class="img-fluid mr-1" src="../../src/icon/viber_blue.png" width="20" alt="viber" />
              viber
            </a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-2">
        <p>GitHub</p>
        <ul class="list-unstyled">
          <li>
            repository: <br />
            <a href="https://github.com/van-yog"><span class="font-weight-bold">van-yog</span></a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-2">
        <p>Contacts</p>
        <ul class="list-unstyled">
          <li>
            email: <br />
            <a href="mailto:ikharchenko2008@gmail.com"
              ><span class="font-weight-bold">ikharchenko2008@gmail.com</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
