<nav class="navbar navbar-expand-lg navbar-light bg-light d-md-none">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="../../index.html">Front-End</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="../vanilla-js-1/">1 - Canvas Spaceship Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../vanilla-js-2/">2 - ToDo app</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../vanilla-js-3/">3 - Mouse and shape</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../vanilla-js-4/">4 - Air Tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../vanilla-js-5/">5 - XMLHttpRequest/Fetch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../vanilla-js-6/">6 - Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../vanilla-js-7/">7 - VISA/MasterCard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../vanilla-js-8/">8 - FavoriteFilm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../vanilla-js-9/">9 - Change Text</a>
      </li>
    </ul>
  </div>
</nav>
