body {
  position: relative;
  margin: 0;
}

.circle {
  position: absolute;
  top: 48%;
  left: 48%;
  display: block;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.square {
  position: absolute;
  top: 48%;
  left: 48%;
  display: block;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.moon {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 48%;
  left: 48%;
  border-radius: 50%;
  box-shadow: 8px 8px 0 0 #ffffff;
  transition: all 0.3s;
}

.window__game {
  height: 500px;
  background-color: #00ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
