/* .night-mode {
  background: radial-gradient(ellipse at bottom, #0f1b25 0%, #0c121c 100%);
} */

#stars {
  width: 1px;
  height: 1px;
  color: #808080af;

  background: transparent;
  box-shadow: 1009px 1166px #090e17, 345px 196px #808080af, 646px 517px #808080af, 1550px 1406px #808080af,
    1310px 751px #808080af, 46px 918px #808080af, 1398px 1080px #808080af, 1503px 46px #808080af, 1137px 565px #808080af,
    881px 607px #808080af, 988px 819px #808080af, 845px 836px #808080af, 882px 95px #808080af, 1509px 313px #808080af,
    1385px 1195px #808080af, 579px 38px #808080af, 1444px 363px #808080af, 1668px 54px #808080af, 602px 765px #808080af,
    1515px 1208px #808080af, 42px 488px #808080af, 39px 642px #808080af, 894px 802px #808080af, 1190px 435px #808080af,
    1217px 1589px #808080af, 753px 250px #808080af, 789px 698px #808080af, 606px 795px #808080af, 491px 1710px #808080af,
    1679px 1109px #808080af, 1675px 1681px #808080af, 1344px 902px #808080af, 1430px 79px #808080af,
    207px 1307px #808080af, 485px 399px #808080af, 1047px 1434px #808080af, 463px 237px #808080af, 247px 646px #808080af,
    708px 1055px #808080af, 890px 434px #808080af, 560px 458px #808080af, 708px 1524px #808080af, 388px 1232px #808080af,
    5px 752px #808080af, 1310px 461px #808080af, 1454px 1240px #808080af, 249px 1273px #808080af, 295px 977px #808080af,
    946px 1487px #808080af, 636px 206px #808080af, 1683px 1057px #808080af, 870px 934px #808080af, 364px 970px #808080af,
    510px 1335px #808080af, 798px 598px #808080af, 1698px 381px #808080af, 887px 1449px #808080af,
    842px 1572px #808080af, 784px 795px #808080af, 751px 1076px #808080af, 92px 1203px #808080af, 827px 1364px #808080af,
    765px 116px #808080af, 1099px 1144px #808080af, 512px 103px #808080af, 255px 1709px #808080af,
    505px 1231px #808080af, 1387px 663px #808080af, 861px 517px #808080af, 1053px 982px #808080af,
    209px 1632px #808080af, 1307px 1530px #808080af, 1192px 255px #808080af, 1054px 406px #808080af,
    1070px 1696px #808080af, 908px 1580px #808080af, 703px 1468px #808080af, 456px 1603px #808080af,
    1175px 380px #808080af, 861px 225px #808080af, 1185px 895px #808080af, 1203px 129px #808080af,
    882px 1216px #808080af, 741px 26px #808080af, 704px 707px #808080af, 841px 516px #808080af, 1408px 345px #808080af,
    481px 1439px #808080af, 545px 147px #808080af, 1168px 635px #808080af, 209px 503px #808080af, 998px 1553px #808080af,
    382px 1116px #808080af, 1470px 216px #808080af, 1077px 850px #808080af, 1300px 952px #808080af,
    1646px 386px #808080af, 926px 1281px #808080af, 207px 1669px #808080af, 1698px 649px #808080af,
    677px 175px #808080af, 335px 1002px #808080af, 808px 1268px #808080af, 1366px 430px #808080af,
    454px 1548px #808080af, 24px 770px #808080af, 818px 441px #808080af, 1564px 1689px #808080af, 929px 866px #808080af,
    1472px 1250px #808080af, 548px 1001px #808080af, 48px 1365px #808080af, 419px 1488px #808080af,
    301px 1189px #808080af, 1058px 1697px #808080af, 216px 1565px #808080af, 1542px 494px #808080af,
    2px 1217px #808080af, 422px 907px #808080af, 1691px 1127px #808080af, 844px 710px #808080af, 1140px 958px #808080af,
    1097px 494px #808080af, 1417px 702px #808080af, 1691px 313px #808080af, 1060px 1333px #808080af,
    1443px 592px #808080af, 1692px 86px #808080af, 594px 1584px #808080af, 653px 853px #808080af, 967px 497px #808080af,
    488px 1666px #808080af, 1550px 1183px #808080af, 878px 535px #808080af, 1539px 1140px #808080af,
    876px 210px #808080af, 798px 1205px #808080af, 814px 74px #808080af, 1365px 1401px #808080af, 939px 689px #808080af,
    1665px 70px #808080af, 295px 1082px #808080af, 805px 229px #808080af, 886px 1106px #808080af, 1377px 923px #808080af,
    1599px 1557px #808080af, 963px 139px #808080af, 327px 1107px #808080af, 1207px 176px #808080af,
    328px 599px #808080af, 734px 1265px #808080af, 373px 737px #808080af, 1009px 1291px #808080af,
    1537px 1633px #808080af, 208px 1367px #808080af, 1545px 746px #808080af, 383px 930px #808080af,
    1635px 603px #808080af, 1313px 588px #808080af, 325px 45px #808080af, 516px 730px #808080af, 734px 470px #808080af,
    594px 860px #808080af, 257px 953px #808080af, 1151px 1504px #808080af, 1637px 448px #808080af,
    1394px 545px #808080af, 365px 1040px #808080af, 1136px 212px #808080af, 224px 1275px #808080af,
    695px 1473px #808080af, 1048px 1563px #808080af, 1601px 1077px #808080af, 1061px 1430px #808080af,
    1412px 430px #808080af, 1219px 1603px #808080af, 533px 944px #808080af, 48px 759px #808080af, 675px 80px #808080af,
    1185px 580px #808080af, 372px 357px #808080af, 629px 1457px #808080af, 1386px 594px #808080af, 565px 876px #808080af,
    981px 756px #808080af, 910px 686px #808080af, 900px 579px #808080af, 1551px 1366px #808080af, 757px 518px #808080af,
    1705px 541px #808080af, 1562px 223px #808080af, 1590px 1204px #808080af, 107px 1673px #808080af,
    1389px 991px #808080af, 507px 1288px #808080af, 860px 891px #808080af, 1067px 1166px #808080af,
    1220px 698px #808080af, 252px 1325px #808080af, 1475px 752px #808080af, 871px 128px #808080af,
    652px 1531px #808080af, 1299px 1399px #808080af, 392px 1660px #808080af, 296px 797px #808080af,
    1164px 808px #808080af, 755px 241px #808080af, 1476px 132px #808080af, 267px 1439px #808080af, 766px 925px #808080af,
    896px 37px #808080af, 935px 1706px #808080af, 587px 1048px #808080af, 1567px 1251px #808080af, 1438px 40px #808080af,
    893px 903px #808080af, 733px 366px #808080af, 1126px 564px #808080af, 1272px 768px #808080af, 150px 471px #808080af,
    1558px 269px #808080af, 18px 1078px #808080af, 1512px 694px #808080af, 656px 1485px #808080af,
    1653px 756px #808080af, 631px 572px #808080af, 1356px 459px #808080af, 273px 609px #808080af, 102px 1685px #808080af,
    386px 1418px #808080af, 607px 1063px #808080af, 588px 449px #808080af, 73px 1702px #808080af, 278px 960px #808080af,
    781px 523px #808080af, 85px 1353px #808080af, 1427px 884px #808080af, 1034px 1698px #808080af,
    665px 1341px #808080af, 526px 1655px #808080af, 926px 1282px #808080af, 736px 112px #808080af,
    1266px 1307px #808080af, 888px 937px #808080af, 1663px 189px #808080af, 362px 192px #808080af, 610px 197px #808080af,
    495px 1059px #808080af, 407px 1114px #808080af, 1585px 574px #808080af, 451px 4px #808080af, 239px 892px #808080af,
    749px 882px #808080af, 323px 1682px #808080af, 1343px 1321px #808080af, 81px 1080px #808080af,
    764px 1566px #808080af, 27px 1197px #808080af, 173px 1565px #808080af, 117px 1611px #808080af,
    394px 1421px #808080af, 1195px 1307px #808080af, 1576px 251px #808080af, 1272px 1060px #808080af,
    923px 671px #808080af, 177px 115px #808080af, 318px 59px #808080af, 1606px 1110px #808080af, 1380px 1274px #808080af,
    274px 127px #808080af, 826px 1094px #808080af, 67px 804px #808080af, 435px 255px #808080af, 197px 840px #808080af,
    1580px 1446px #808080af, 1180px 1539px #808080af, 80px 1327px #808080af, 1501px 1048px #808080af,
    1050px 1214px #808080af, 570px 569px #808080af, 896px 379px #808080af, 764px 1572px #808080af, 904px 218px #808080af,
    1607px 593px #808080af, 640px 1261px #808080af, 777px 460px #808080af, 573px 258px #808080af, 882px 570px #808080af,
    194px 146px #808080af, 299px 841px #808080af, 1007px 876px #808080af, 929px 1394px #808080af, 1526px 788px #808080af,
    821px 1351px #808080af, 153px 1454px #808080af, 102px 1292px #808080af, 165px 1697px #808080af,
    1211px 535px #808080af, 1348px 49px #808080af, 1396px 804px #808080af, 1529px 736px #808080af, 782px 229px #808080af,
    77px 309px #808080af, 1144px 453px #808080af, 438px 153px #808080af, 670px 302px #808080af, 258px 1122px #808080af,
    1174px 496px #808080af, 543px 606px #808080af, 1325px 476px #808080af, 167px 690px #808080af, 787px 1641px #808080af,
    1175px 1668px #808080af, 534px 649px #808080af, 259px 202px #808080af, 1476px 1055px #808080af,
    165px 1303px #808080af, 514px 1490px #808080af, 406px 1512px #808080af, 255px 1159px #808080af,
    375px 661px #808080af, 988px 475px #808080af, 682px 727px #808080af, 1580px 1210px #808080af, 501px 1294px #808080af,
    1488px 1001px #808080af, 215px 703px #808080af, 1584px 1028px #808080af, 51px 1336px #808080af,
    429px 1704px #808080af, 1118px 646px #808080af, 937px 1555px #808080af, 1194px 344px #808080af,
    626px 1514px #808080af, 1391px 1289px #808080af, 498px 1484px #808080af, 1145px 1224px #808080af,
    977px 1511px #808080af, 1594px 613px #808080af, 1265px 784px #808080af, 323px 1190px #808080af, 682px 1px #808080af,
    1244px 653px #808080af, 164px 1233px #808080af, 806px 1219px #808080af, 550px 1184px #808080af,
    715px 1033px #808080af, 1257px 997px #808080af, 1514px 733px #808080af, 1669px 671px #808080af,
    217px 344px #808080af, 726px 211px #808080af, 1440px 560px #808080af, 1392px 11px #808080af, 1503px 325px #808080af,
    857px 154px #808080af, 1208px 1659px #808080af, 1407px 1065px #808080af, 968px 62px #808080af,
    1545px 1259px #808080af, 1521px 672px #808080af, 1288px 457px #808080af, 1551px 557px #808080af,
    632px 905px #808080af, 26px 351px #808080af, 1280px 389px #808080af, 574px 137px #808080af, 1368px 49px #808080af,
    656px 1026px #808080af, 166px 588px #808080af, 321px 940px #808080af, 1485px 1186px #808080af,
    1557px 426px #808080af, 617px 1042px #808080af, 430px 558px #808080af, 603px 1550px #808080af, 65px 884px #808080af,
    609px 1238px #808080af, 1606px 1545px #808080af, 1668px 678px #808080af, 554px 889px #808080af,
    1503px 283px #808080af, 1631px 188px #808080af, 1383px 595px #808080af, 238px 950px #808080af,
    1147px 1525px #808080af, 689px 1245px #808080af, 662px 491px #808080af, 1658px 201px #808080af,
    1300px 1600px #808080af, 905px 1430px #808080af, 1323px 341px #808080af, 622px 1206px #808080af,
    809px 1163px #808080af, 104px 601px #808080af, 463px 23px #808080af, 1076px 1632px #808080af, 1666px 75px #808080af,
    99px 618px #808080af, 11px 550px #808080af, 356px 1313px #808080af, 19px 1677px #808080af, 754px 235px #808080af,
    1385px 228px #808080af, 112px 628px #808080af, 265px 522px #808080af, 1391px 1579px #808080af, 1277px 55px #808080af,
    779px 681px #808080af, 603px 61px #808080af, 1599px 1305px #808080af, 859px 836px #808080af, 332px 1226px #808080af,
    1315px 1168px #808080af, 933px 394px #808080af, 785px 348px #808080af, 742px 475px #808080af, 1090px 73px #808080af,
    328px 868px #808080af, 496px 540px #808080af, 909px 1530px #808080af, 416px 176px #808080af, 1506px 185px #808080af,
    399px 545px #808080af, 306px 1117px #808080af, 403px 205px #808080af, 681px 1207px #808080af, 226px 851px #808080af,
    386px 235px #808080af, 469px 1390px #808080af, 20px 161px #808080af, 1084px 118px #808080af, 1065px 487px #808080af,
    423px 1433px #808080af, 309px 565px #808080af, 128px 1153px #808080af, 1693px 151px #808080af, 7px 1575px #808080af,
    1156px 591px #808080af, 1240px 440px #808080af, 1620px 708px #808080af, 325px 5px #808080af, 1155px 273px #808080af,
    979px 452px #808080af, 242px 992px #808080af, 497px 321px #808080af, 1335px 479px #808080af, 1094px 264px #808080af,
    1527px 831px #808080af, 1252px 915px #808080af, 181px 1076px #808080af, 1709px 721px #808080af, 15px 402px #808080af,
    160px 1237px #808080af, 184px 723px #808080af, 1102px 953px #808080af, 1568px 235px #808080af,
    475px 1369px #808080af, 178px 520px #808080af, 907px 157px #808080af, 625px 291px #808080af, 665px 1218px #808080af,
    1482px 1471px #808080af, 868px 1098px #808080af, 1087px 110px #808080af, 519px 32px #808080af,
    448px 1453px #808080af, 1038px 156px #808080af, 1407px 908px #808080af, 1125px 425px #808080af,
    147px 1274px #808080af, 1391px 1266px #808080af, 961px 11px #808080af, 450px 519px #808080af, 696px 931px #808080af,
    832px 613px #808080af, 1536px 1545px #808080af, 1519px 1085px #808080af, 34px 1659px #808080af,
    1328px 478px #808080af, 343px 250px #808080af, 84px 1128px #808080af, 815px 1663px #808080af, 1490px 736px #808080af,
    372px 1073px #808080af, 1338px 1691px #808080af, 1397px 1174px #808080af, 1174px 1343px #808080af,
    698px 406px #808080af, 1066px 1583px #808080af, 1581px 1278px #808080af, 1310px 686px #808080af,
    809px 1141px #808080af, 48px 238px #808080af, 351px 650px #808080af, 34px 519px #808080af, 777px 1684px #808080af,
    500px 644px #808080af, 1297px 330px #808080af, 1518px 551px #808080af, 415px 459px #808080af, 1167px 715px #808080af,
    760px 1498px #808080af, 1234px 1401px #808080af, 1532px 58px #808080af, 422px 1594px #808080af,
    845px 817px #808080af, 1690px 416px #808080af, 531px 1175px #808080af, 1582px 390px #808080af, 12px 922px #808080af,
    1092px 992px #808080af, 1453px 1494px #808080af, 330px 1204px #808080af, 255px 630px #808080af, 672px 8px #808080af,
    1449px 1124px #808080af, 92px 687px #808080af, 1189px 1174px #808080af, 1376px 1702px #808080af,
    1144px 696px #808080af, 1112px 162px #808080af, 759px 66px #808080af, 262px 1287px #808080af, 1696px 688px #808080af,
    516px 760px #808080af, 951px 296px #808080af, 1207px 1677px #808080af, 1128px 267px #808080af,
    1633px 1467px #808080af, 102px 585px #808080af, 39px 591px #808080af, 1382px 53px #808080af, 58px 85px #808080af,
    1423px 1486px #808080af, 959px 737px #808080af, 123px 935px #808080af, 552px 286px #808080af,
    1598px 1420px #808080af, 1px 878px #808080af, 61px 508px #808080af, 1492px 208px #808080af, 565px 1668px #808080af,
    1121px 696px #808080af, 733px 1483px #808080af, 1193px 1383px #808080af, 1283px 361px #808080af,
    1255px 1588px #808080af, 406px 1041px #808080af, 834px 147px #808080af, 778px 860px #808080af,
    1458px 1161px #808080af, 1229px 22px #808080af, 136px 834px #808080af, 7px 1164px #808080af, 1659px 1587px #808080af,
    1047px 467px #808080af, 910px 524px #808080af, 729px 1026px #808080af, 1652px 239px #808080af,
    1639px 1409px #808080af, 101px 528px #808080af, 712px 648px #808080af, 1373px 1372px #808080af,
    847px 954px #808080af, 1387px 255px #808080af, 1458px 441px #808080af, 1427px 1318px #808080af,
    263px 1463px #808080af, 274px 1078px #808080af, 533px 447px #808080af, 1333px 1301px #808080af,
    401px 1424px #808080af, 1288px 1388px #808080af, 1651px 1066px #808080af, 1014px 1189px #808080af,
    1116px 303px #808080af, 1157px 1065px #808080af, 512px 175px #808080af, 1113px 535px #808080af,
    1384px 796px #808080af, 357px 991px #808080af, 266px 1233px #808080af, 252px 1585px #808080af, 373px 615px #808080af,
    1104px 620px #808080af, 226px 678px #808080af, 488px 1673px #808080af, 1429px 405px #808080af, 742px 490px #808080af,
    1160px 1352px #808080af, 855px 1644px #808080af, 695px 1466px #808080af, 1604px 686px #808080af,
    302px 1000px #808080af, 1513px 1500px #808080af, 779px 1448px #808080af, 69px 1390px #808080af,
    588px 1042px #808080af, 828px 1649px #808080af, 1266px 414px #808080af, 1171px 1635px #808080af,
    1428px 92px #808080af, 528px 1372px #808080af, 796px 1544px #808080af, 158px 801px #808080af, 192px 1248px #808080af,
    900px 1696px #808080af, 1253px 1129px #808080af, 259px 505px #808080af, 257px 550px #808080af,
    232px 1198px #808080af, 1266px 435px #808080af, 1386px 445px #808080af, 1241px 1584px #808080af,
    351px 969px #808080af, 591px 286px #808080af, 277px 744px #808080af, 1245px 196px #808080af, 1440px 351px #808080af,
    1078px 572px #808080af, 1714px 1693px #808080af, 266px 1346px #808080af, 259px 1584px #808080af,
    1492px 161px #808080af, 830px 1681px #808080af, 423px 798px #808080af, 605px 443px #808080af, 275px 431px #808080af,
    582px 1436px #808080af, 786px 1577px #808080af, 1689px 1511px #808080af, 41px 77px #808080af, 1115px 630px #808080af,
    1707px 456px #808080af, 1212px 1193px #808080af, 1271px 1177px #808080af, 634px 1349px #808080af,
    346px 1075px #808080af, 374px 1113px #808080af, 802px 454px #808080af, 595px 933px #808080af, 1048px 688px #808080af,
    506px 516px #808080af, 1351px 1237px #808080af, 1142px 610px #808080af, 1600px 772px #808080af,
    292px 1639px #808080af, 1482px 1519px #808080af, 26px 486px #808080af, 841px 382px #808080af, 726px 1311px #808080af,
    1520px 1193px #808080af, 1343px 358px #808080af, 1510px 223px #808080af, 492px 586px #808080af,
    737px 649px #808080af, 601px 460px #808080af, 518px 887px #808080af, 793px 1193px #808080af, 439px 960px #808080af,
    1591px 376px #808080af, 1694px 1099px #808080af, 912px 1703px #808080af, 618px 171px #808080af,
    1178px 733px #808080af, 699px 1215px #808080af, 496px 1160px #808080af, 1060px 1359px #808080af,
    175px 849px #808080af, 151px 1256px #808080af, 1092px 632px #808080af, 1148px 1558px #808080af,
    1502px 548px #808080af, 1587px 665px #808080af, 634px 1388px #808080af, 1089px 599px #808080af,
    1321px 1378px #808080af, 1409px 85px #808080af, 1700px 376px #808080af, 1699px 46px #808080af,
    778px 1044px #808080af, 1258px 523px #808080af, 743px 1463px #808080af, 1419px 405px #808080af,
    1103px 1079px #808080af, 204px 956px #808080af, 452px 1074px #808080af, 1426px 439px #808080af,
    473px 780px #808080af, 1296px 1632px #808080af, 698px 266px #808080af, 1425px 1672px #808080af,
    1576px 1358px #808080af, 1416px 471px #808080af, 42px 64px #808080af, 42px 1604px #808080af, 815px 486px #808080af,
    1549px 98px #808080af, 742px 1632px #808080af;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: "1";
  position: absolute;
  top: 1715px;
  z-index: 11;
  background: transparent;
  box-shadow: 1009px 1166px #090e17, 345px 196px #808080af, 646px 517px #808080af, 1550px 1406px #808080af,
    1310px 751px #808080af, 46px 918px #808080af, 1398px 1080px #808080af, 1503px 46px #808080af, 1137px 565px #808080af,
    881px 607px #808080af, 988px 819px #808080af, 845px 836px #808080af, 882px 95px #808080af, 1509px 313px #808080af,
    1385px 1195px #808080af, 579px 38px #808080af, 1444px 363px #808080af, 1668px 54px #808080af, 602px 765px #808080af,
    1515px 1208px #808080af, 42px 488px #808080af, 39px 642px #808080af, 894px 802px #808080af, 1190px 435px #808080af,
    1217px 1589px #808080af, 753px 250px #808080af, 789px 698px #808080af, 606px 795px #808080af, 491px 1710px #808080af,
    1679px 1109px #808080af, 1675px 1681px #808080af, 1344px 902px #808080af, 1430px 79px #808080af,
    207px 1307px #808080af, 485px 399px #808080af, 1047px 1434px #808080af, 463px 237px #808080af, 247px 646px #808080af,
    708px 1055px #808080af, 890px 434px #808080af, 560px 458px #808080af, 708px 1524px #808080af, 388px 1232px #808080af,
    5px 752px #808080af, 1310px 461px #808080af, 1454px 1240px #808080af, 249px 1273px #808080af, 295px 977px #808080af,
    946px 1487px #808080af, 636px 206px #808080af, 1683px 1057px #808080af, 870px 934px #808080af, 364px 970px #808080af,
    510px 1335px #808080af, 798px 598px #808080af, 1698px 381px #808080af, 887px 1449px #808080af,
    842px 1572px #808080af, 784px 795px #808080af, 751px 1076px #808080af, 92px 1203px #808080af, 827px 1364px #808080af,
    765px 116px #808080af, 1099px 1144px #808080af, 512px 103px #808080af, 255px 1709px #808080af,
    505px 1231px #808080af, 1387px 663px #808080af, 861px 517px #808080af, 1053px 982px #808080af,
    209px 1632px #808080af, 1307px 1530px #808080af, 1192px 255px #808080af, 1054px 406px #808080af,
    1070px 1696px #808080af, 908px 1580px #808080af, 703px 1468px #808080af, 456px 1603px #808080af,
    1175px 380px #808080af, 861px 225px #808080af, 1185px 895px #808080af, 1203px 129px #808080af,
    882px 1216px #808080af, 741px 26px #808080af, 704px 707px #808080af, 841px 516px #808080af, 1408px 345px #808080af,
    481px 1439px #808080af, 545px 147px #808080af, 1168px 635px #808080af, 209px 503px #808080af, 998px 1553px #808080af,
    382px 1116px #808080af, 1470px 216px #808080af, 1077px 850px #808080af, 1300px 952px #808080af,
    1646px 386px #808080af, 926px 1281px #808080af, 207px 1669px #808080af, 1698px 649px #808080af,
    677px 175px #808080af, 335px 1002px #808080af, 808px 1268px #808080af, 1366px 430px #808080af,
    454px 1548px #808080af, 24px 770px #808080af, 818px 441px #808080af, 1564px 1689px #808080af, 929px 866px #808080af,
    1472px 1250px #808080af, 548px 1001px #808080af, 48px 1365px #808080af, 419px 1488px #808080af,
    301px 1189px #808080af, 1058px 1697px #808080af, 216px 1565px #808080af, 1542px 494px #808080af,
    2px 1217px #808080af, 422px 907px #808080af, 1691px 1127px #808080af, 844px 710px #808080af, 1140px 958px #808080af,
    1097px 494px #808080af, 1417px 702px #808080af, 1691px 313px #808080af, 1060px 1333px #808080af,
    1443px 592px #808080af, 1692px 86px #808080af, 594px 1584px #808080af, 653px 853px #808080af, 967px 497px #808080af,
    488px 1666px #808080af, 1550px 1183px #808080af, 878px 535px #808080af, 1539px 1140px #808080af,
    876px 210px #808080af, 798px 1205px #808080af, 814px 74px #808080af, 1365px 1401px #808080af, 939px 689px #808080af,
    1665px 70px #808080af, 295px 1082px #808080af, 805px 229px #808080af, 886px 1106px #808080af, 1377px 923px #808080af,
    1599px 1557px #808080af, 963px 139px #808080af, 327px 1107px #808080af, 1207px 176px #808080af,
    328px 599px #808080af, 734px 1265px #808080af, 373px 737px #808080af, 1009px 1291px #808080af,
    1537px 1633px #808080af, 208px 1367px #808080af, 1545px 746px #808080af, 383px 930px #808080af,
    1635px 603px #808080af, 1313px 588px #808080af, 325px 45px #808080af, 516px 730px #808080af, 734px 470px #808080af,
    594px 860px #808080af, 257px 953px #808080af, 1151px 1504px #808080af, 1637px 448px #808080af,
    1394px 545px #808080af, 365px 1040px #808080af, 1136px 212px #808080af, 224px 1275px #808080af,
    695px 1473px #808080af, 1048px 1563px #808080af, 1601px 1077px #808080af, 1061px 1430px #808080af,
    1412px 430px #808080af, 1219px 1603px #808080af, 533px 944px #808080af, 48px 759px #808080af, 675px 80px #808080af,
    1185px 580px #808080af, 372px 357px #808080af, 629px 1457px #808080af, 1386px 594px #808080af, 565px 876px #808080af,
    981px 756px #808080af, 910px 686px #808080af, 900px 579px #808080af, 1551px 1366px #808080af, 757px 518px #808080af,
    1705px 541px #808080af, 1562px 223px #808080af, 1590px 1204px #808080af, 107px 1673px #808080af,
    1389px 991px #808080af, 507px 1288px #808080af, 860px 891px #808080af, 1067px 1166px #808080af,
    1220px 698px #808080af, 252px 1325px #808080af, 1475px 752px #808080af, 871px 128px #808080af,
    652px 1531px #808080af, 1299px 1399px #808080af, 392px 1660px #808080af, 296px 797px #808080af,
    1164px 808px #808080af, 755px 241px #808080af, 1476px 132px #808080af, 267px 1439px #808080af, 766px 925px #808080af,
    896px 37px #808080af, 935px 1706px #808080af, 587px 1048px #808080af, 1567px 1251px #808080af, 1438px 40px #808080af,
    893px 903px #808080af, 733px 366px #808080af, 1126px 564px #808080af, 1272px 768px #808080af, 150px 471px #808080af,
    1558px 269px #808080af, 18px 1078px #808080af, 1512px 694px #808080af, 656px 1485px #808080af,
    1653px 756px #808080af, 631px 572px #808080af, 1356px 459px #808080af, 273px 609px #808080af, 102px 1685px #808080af,
    386px 1418px #808080af, 607px 1063px #808080af, 588px 449px #808080af, 73px 1702px #808080af, 278px 960px #808080af,
    781px 523px #808080af, 85px 1353px #808080af, 1427px 884px #808080af, 1034px 1698px #808080af,
    665px 1341px #808080af, 526px 1655px #808080af, 926px 1282px #808080af, 736px 112px #808080af,
    1266px 1307px #808080af, 888px 937px #808080af, 1663px 189px #808080af, 362px 192px #808080af, 610px 197px #808080af,
    495px 1059px #808080af, 407px 1114px #808080af, 1585px 574px #808080af, 451px 4px #808080af, 239px 892px #808080af,
    749px 882px #808080af, 323px 1682px #808080af, 1343px 1321px #808080af, 81px 1080px #808080af,
    764px 1566px #808080af, 27px 1197px #808080af, 173px 1565px #808080af, 117px 1611px #808080af,
    394px 1421px #808080af, 1195px 1307px #808080af, 1576px 251px #808080af, 1272px 1060px #808080af,
    923px 671px #808080af, 177px 115px #808080af, 318px 59px #808080af, 1606px 1110px #808080af, 1380px 1274px #808080af,
    274px 127px #808080af, 826px 1094px #808080af, 67px 804px #808080af, 435px 255px #808080af, 197px 840px #808080af,
    1580px 1446px #808080af, 1180px 1539px #808080af, 80px 1327px #808080af, 1501px 1048px #808080af,
    1050px 1214px #808080af, 570px 569px #808080af, 896px 379px #808080af, 764px 1572px #808080af, 904px 218px #808080af,
    1607px 593px #808080af, 640px 1261px #808080af, 777px 460px #808080af, 573px 258px #808080af, 882px 570px #808080af,
    194px 146px #808080af, 299px 841px #808080af, 1007px 876px #808080af, 929px 1394px #808080af, 1526px 788px #808080af,
    821px 1351px #808080af, 153px 1454px #808080af, 102px 1292px #808080af, 165px 1697px #808080af,
    1211px 535px #808080af, 1348px 49px #808080af, 1396px 804px #808080af, 1529px 736px #808080af, 782px 229px #808080af,
    77px 309px #808080af, 1144px 453px #808080af, 438px 153px #808080af, 670px 302px #808080af, 258px 1122px #808080af,
    1174px 496px #808080af, 543px 606px #808080af, 1325px 476px #808080af, 167px 690px #808080af, 787px 1641px #808080af,
    1175px 1668px #808080af, 534px 649px #808080af, 259px 202px #808080af, 1476px 1055px #808080af,
    165px 1303px #808080af, 514px 1490px #808080af, 406px 1512px #808080af, 255px 1159px #808080af,
    375px 661px #808080af, 988px 475px #808080af, 682px 727px #808080af, 1580px 1210px #808080af, 501px 1294px #808080af,
    1488px 1001px #808080af, 215px 703px #808080af, 1584px 1028px #808080af, 51px 1336px #808080af,
    429px 1704px #808080af, 1118px 646px #808080af, 937px 1555px #808080af, 1194px 344px #808080af,
    626px 1514px #808080af, 1391px 1289px #808080af, 498px 1484px #808080af, 1145px 1224px #808080af,
    977px 1511px #808080af, 1594px 613px #808080af, 1265px 784px #808080af, 323px 1190px #808080af, 682px 1px #808080af,
    1244px 653px #808080af, 164px 1233px #808080af, 806px 1219px #808080af, 550px 1184px #808080af,
    715px 1033px #808080af, 1257px 997px #808080af, 1514px 733px #808080af, 1669px 671px #808080af,
    217px 344px #808080af, 726px 211px #808080af, 1440px 560px #808080af, 1392px 11px #808080af, 1503px 325px #808080af,
    857px 154px #808080af, 1208px 1659px #808080af, 1407px 1065px #808080af, 968px 62px #808080af,
    1545px 1259px #808080af, 1521px 672px #808080af, 1288px 457px #808080af, 1551px 557px #808080af,
    632px 905px #808080af, 26px 351px #808080af, 1280px 389px #808080af, 574px 137px #808080af, 1368px 49px #808080af,
    656px 1026px #808080af, 166px 588px #808080af, 321px 940px #808080af, 1485px 1186px #808080af,
    1557px 426px #808080af, 617px 1042px #808080af, 430px 558px #808080af, 603px 1550px #808080af, 65px 884px #808080af,
    609px 1238px #808080af, 1606px 1545px #808080af, 1668px 678px #808080af, 554px 889px #808080af,
    1503px 283px #808080af, 1631px 188px #808080af, 1383px 595px #808080af, 238px 950px #808080af,
    1147px 1525px #808080af, 689px 1245px #808080af, 662px 491px #808080af, 1658px 201px #808080af,
    1300px 1600px #808080af, 905px 1430px #808080af, 1323px 341px #808080af, 622px 1206px #808080af,
    809px 1163px #808080af, 104px 601px #808080af, 463px 23px #808080af, 1076px 1632px #808080af, 1666px 75px #808080af,
    99px 618px #808080af, 11px 550px #808080af, 356px 1313px #808080af, 19px 1677px #808080af, 754px 235px #808080af,
    1385px 228px #808080af, 112px 628px #808080af, 265px 522px #808080af, 1391px 1579px #808080af, 1277px 55px #808080af,
    779px 681px #808080af, 603px 61px #808080af, 1599px 1305px #808080af, 859px 836px #808080af, 332px 1226px #808080af,
    1315px 1168px #808080af, 933px 394px #808080af, 785px 348px #808080af, 742px 475px #808080af, 1090px 73px #808080af,
    328px 868px #808080af, 496px 540px #808080af, 909px 1530px #808080af, 416px 176px #808080af, 1506px 185px #808080af,
    399px 545px #808080af, 306px 1117px #808080af, 403px 205px #808080af, 681px 1207px #808080af, 226px 851px #808080af,
    386px 235px #808080af, 469px 1390px #808080af, 20px 161px #808080af, 1084px 118px #808080af, 1065px 487px #808080af,
    423px 1433px #808080af, 309px 565px #808080af, 128px 1153px #808080af, 1693px 151px #808080af, 7px 1575px #808080af,
    1156px 591px #808080af, 1240px 440px #808080af, 1620px 708px #808080af, 325px 5px #808080af, 1155px 273px #808080af,
    979px 452px #808080af, 242px 992px #808080af, 497px 321px #808080af, 1335px 479px #808080af, 1094px 264px #808080af,
    1527px 831px #808080af, 1252px 915px #808080af, 181px 1076px #808080af, 1709px 721px #808080af, 15px 402px #808080af,
    160px 1237px #808080af, 184px 723px #808080af, 1102px 953px #808080af, 1568px 235px #808080af,
    475px 1369px #808080af, 178px 520px #808080af, 907px 157px #808080af, 625px 291px #808080af, 665px 1218px #808080af,
    1482px 1471px #808080af, 868px 1098px #808080af, 1087px 110px #808080af, 519px 32px #808080af,
    448px 1453px #808080af, 1038px 156px #808080af, 1407px 908px #808080af, 1125px 425px #808080af,
    147px 1274px #808080af, 1391px 1266px #808080af, 961px 11px #808080af, 450px 519px #808080af, 696px 931px #808080af,
    832px 613px #808080af, 1536px 1545px #808080af, 1519px 1085px #808080af, 34px 1659px #808080af,
    1328px 478px #808080af, 343px 250px #808080af, 84px 1128px #808080af, 815px 1663px #808080af, 1490px 736px #808080af,
    372px 1073px #808080af, 1338px 1691px #808080af, 1397px 1174px #808080af, 1174px 1343px #808080af,
    698px 406px #808080af, 1066px 1583px #808080af, 1581px 1278px #808080af, 1310px 686px #808080af,
    809px 1141px #808080af, 48px 238px #808080af, 351px 650px #808080af, 34px 519px #808080af, 777px 1684px #808080af,
    500px 644px #808080af, 1297px 330px #808080af, 1518px 551px #808080af, 415px 459px #808080af, 1167px 715px #808080af,
    760px 1498px #808080af, 1234px 1401px #808080af, 1532px 58px #808080af, 422px 1594px #808080af,
    845px 817px #808080af, 1690px 416px #808080af, 531px 1175px #808080af, 1582px 390px #808080af, 12px 922px #808080af,
    1092px 992px #808080af, 1453px 1494px #808080af, 330px 1204px #808080af, 255px 630px #808080af, 672px 8px #808080af,
    1449px 1124px #808080af, 92px 687px #808080af, 1189px 1174px #808080af, 1376px 1702px #808080af,
    1144px 696px #808080af, 1112px 162px #808080af, 759px 66px #808080af, 262px 1287px #808080af, 1696px 688px #808080af,
    516px 760px #808080af, 951px 296px #808080af, 1207px 1677px #808080af, 1128px 267px #808080af,
    1633px 1467px #808080af, 102px 585px #808080af, 39px 591px #808080af, 1382px 53px #808080af, 58px 85px #808080af,
    1423px 1486px #808080af, 959px 737px #808080af, 123px 935px #808080af, 552px 286px #808080af,
    1598px 1420px #808080af, 1px 878px #808080af, 61px 508px #808080af, 1492px 208px #808080af, 565px 1668px #808080af,
    1121px 696px #808080af, 733px 1483px #808080af, 1193px 1383px #808080af, 1283px 361px #808080af,
    1255px 1588px #808080af, 406px 1041px #808080af, 834px 147px #808080af, 778px 860px #808080af,
    1458px 1161px #808080af, 1229px 22px #808080af, 136px 834px #808080af, 7px 1164px #808080af, 1659px 1587px #808080af,
    1047px 467px #808080af, 910px 524px #808080af, 729px 1026px #808080af, 1652px 239px #808080af,
    1639px 1409px #808080af, 101px 528px #808080af, 712px 648px #808080af, 1373px 1372px #808080af,
    847px 954px #808080af, 1387px 255px #808080af, 1458px 441px #808080af, 1427px 1318px #808080af,
    263px 1463px #808080af, 274px 1078px #808080af, 533px 447px #808080af, 1333px 1301px #808080af,
    401px 1424px #808080af, 1288px 1388px #808080af, 1651px 1066px #808080af, 1014px 1189px #808080af,
    1116px 303px #808080af, 1157px 1065px #808080af, 512px 175px #808080af, 1113px 535px #808080af,
    1384px 796px #808080af, 357px 991px #808080af, 266px 1233px #808080af, 252px 1585px #808080af, 373px 615px #808080af,
    1104px 620px #808080af, 226px 678px #808080af, 488px 1673px #808080af, 1429px 405px #808080af, 742px 490px #808080af,
    1160px 1352px #808080af, 855px 1644px #808080af, 695px 1466px #808080af, 1604px 686px #808080af,
    302px 1000px #808080af, 1513px 1500px #808080af, 779px 1448px #808080af, 69px 1390px #808080af,
    588px 1042px #808080af, 828px 1649px #808080af, 1266px 414px #808080af, 1171px 1635px #808080af,
    1428px 92px #808080af, 528px 1372px #808080af, 796px 1544px #808080af, 158px 801px #808080af, 192px 1248px #808080af,
    900px 1696px #808080af, 1253px 1129px #808080af, 259px 505px #808080af, 257px 550px #808080af,
    232px 1198px #808080af, 1266px 435px #808080af, 1386px 445px #808080af, 1241px 1584px #808080af,
    351px 969px #808080af, 591px 286px #808080af, 277px 744px #808080af, 1245px 196px #808080af, 1440px 351px #808080af,
    1078px 572px #808080af, 1714px 1693px #808080af, 266px 1346px #808080af, 259px 1584px #808080af,
    1492px 161px #808080af, 830px 1681px #808080af, 423px 798px #808080af, 605px 443px #808080af, 275px 431px #808080af,
    582px 1436px #808080af, 786px 1577px #808080af, 1689px 1511px #808080af, 41px 77px #808080af, 1115px 630px #808080af,
    1707px 456px #808080af, 1212px 1193px #808080af, 1271px 1177px #808080af, 634px 1349px #808080af,
    346px 1075px #808080af, 374px 1113px #808080af, 802px 454px #808080af, 595px 933px #808080af, 1048px 688px #808080af,
    506px 516px #808080af, 1351px 1237px #808080af, 1142px 610px #808080af, 1600px 772px #808080af,
    292px 1639px #808080af, 1482px 1519px #808080af, 26px 486px #808080af, 841px 382px #808080af, 726px 1311px #808080af,
    1520px 1193px #808080af, 1343px 358px #808080af, 1510px 223px #808080af, 492px 586px #808080af,
    737px 649px #808080af, 601px 460px #808080af, 518px 887px #808080af, 793px 1193px #808080af, 439px 960px #808080af,
    1591px 376px #808080af, 1694px 1099px #808080af, 912px 1703px #808080af, 618px 171px #808080af,
    1178px 733px #808080af, 699px 1215px #808080af, 496px 1160px #808080af, 1060px 1359px #808080af,
    175px 849px #808080af, 151px 1256px #808080af, 1092px 632px #808080af, 1148px 1558px #808080af,
    1502px 548px #808080af, 1587px 665px #808080af, 634px 1388px #808080af, 1089px 599px #808080af,
    1321px 1378px #808080af, 1409px 85px #808080af, 1700px 376px #808080af, 1699px 46px #808080af,
    778px 1044px #808080af, 1258px 523px #808080af, 743px 1463px #808080af, 1419px 405px #808080af,
    1103px 1079px #808080af, 204px 956px #808080af, 452px 1074px #808080af, 1426px 439px #808080af,
    473px 780px #808080af, 1296px 1632px #808080af, 698px 266px #808080af, 1425px 1672px #808080af,
    1576px 1358px #808080af, 1416px 471px #808080af, 42px 64px #808080af, 42px 1604px #808080af, 815px 486px #808080af,
    1549px 98px #808080af, 742px 1632px #808080af;
}

#stars2 {
  width: 8px;
  height: 1px;
  background: transparent;
  box-shadow: 271px 1324px #090e17, 222px 104px #808080af, 802px 1035px #808080af, 312px 413px #808080af,
    770px 1075px #808080af, 265px 830px #808080af, 1347px 1654px #808080af, 309px 384px #808080af,
    1276px 946px #808080af, 272px 1269px #808080af, 804px 977px #808080af, 1622px 687px #808080af, 34px 737px #808080af,
    1308px 712px #808080af, 1380px 1667px #808080af, 720px 1609px #808080af, 1564px 50px #808080af,
    343px 934px #808080af, 589px 784px #808080af, 1564px 1281px #808080af, 1328px 84px #808080af, 342px 972px #808080af,
    1424px 864px #808080af, 1437px 76px #808080af, 547px 1081px #808080af, 1628px 1594px #808080af,
    199px 710px #808080af, 1056px 154px #808080af, 1416px 521px #808080af, 1454px 1327px #808080af,
    1480px 853px #808080af, 274px 303px #808080af, 418px 1208px #808080af, 1431px 1624px #808080af,
    1535px 500px #808080af, 1456px 1573px #808080af, 746px 434px #808080af, 11px 1501px #808080af,
    403px 1376px #808080af, 1248px 1060px #808080af, 705px 390px #808080af, 1063px 1586px #808080af,
    1413px 691px #808080af, 572px 70px #808080af, 1035px 993px #808080af, 1440px 966px #808080af,
    1651px 1505px #808080af, 1306px 1651px #808080af, 409px 633px #808080af, 379px 1398px #808080af,
    668px 315px #808080af, 1333px 401px #808080af, 1487px 1311px #808080af, 638px 1047px #808080af,
    848px 242px #808080af, 526px 207px #808080af, 146px 1570px #808080af, 1140px 754px #808080af,
    1438px 1708px #808080af, 99px 1408px #808080af, 1483px 1567px #808080af, 1345px 202px #808080af,
    1039px 306px #808080af, 1488px 1354px #808080af, 443px 29px #808080af, 1093px 1485px #808080af,
    202px 318px #808080af, 355px 802px #808080af, 851px 154px #808080af, 126px 583px #808080af, 1232px 1096px #808080af,
    1590px 1171px #808080af, 726px 1452px #808080af, 1175px 1278px #808080af, 695px 887px #808080af,
    204px 1184px #808080af, 83px 672px #808080af, 887px 452px #808080af, 452px 1438px #808080af, 1316px 614px #808080af,
    745px 1013px #808080af, 1233px 741px #808080af, 835px 581px #808080af, 1466px 302px #808080af,
    1318px 619px #808080af, 891px 801px #808080af, 478px 1220px #808080af, 670px 179px #808080af, 734px 303px #808080af,
    1272px 1310px #808080af, 840px 211px #808080af, 558px 1019px #808080af, 1360px 287px #808080af,
    1469px 635px #808080af, 125px 1290px #808080af, 683px 893px #808080af, 1346px 1662px #808080af,
    1047px 468px #808080af, 1667px 1465px #808080af, 1303px 56px #808080af, 414px 262px #808080af,
    718px 1318px #808080af, 1128px 1345px #808080af, 837px 778px #808080af, 1697px 588px #808080af,
    1086px 37px #808080af, 936px 1598px #808080af, 940px 325px #808080af, 146px 266px #808080af, 661px 1242px #808080af,
    460px 1545px #808080af, 251px 291px #808080af, 932px 10px #808080af, 1250px 363px #808080af, 17px 1201px #808080af,
    1443px 305px #808080af, 1517px 1248px #808080af, 481px 1172px #808080af, 1170px 580px #808080af,
    190px 411px #808080af, 1024px 1602px #808080af, 473px 1431px #808080af, 886px 686px #808080af, 10px 671px #808080af,
    1115px 254px #808080af, 137px 982px #808080af, 164px 893px #808080af, 1472px 651px #808080af, 608px 1118px #808080af,
    130px 596px #808080af, 707px 225px #808080af, 51px 155px #808080af, 259px 95px #808080af, 113px 1212px #808080af,
    970px 586px #808080af, 1044px 20px #808080af, 1656px 1035px #808080af, 1255px 565px #808080af,
    446px 1217px #808080af, 496px 221px #808080af, 597px 1583px #808080af, 474px 525px #808080af, 38px 226px #808080af,
    1212px 317px #808080af, 204px 237px #808080af, 603px 477px #808080af, 375px 1096px #808080af, 1117px 735px #808080af,
    218px 1678px #808080af, 938px 315px #808080af, 784px 1121px #808080af, 477px 832px #808080af, 1290px 341px #808080af,
    448px 1652px #808080af, 1136px 1211px #808080af, 1530px 283px #808080af, 457px 1330px #808080af,
    1204px 754px #808080af, 816px 327px #808080af, 930px 396px #808080af, 1323px 54px #808080af, 610px 945px #808080af,
    445px 1526px #808080af, 1588px 547px #808080af, 297px 293px #808080af, 96px 1059px #808080af,
    1024px 1312px #808080af, 1574px 357px #808080af, 1600px 690px #808080af, 185px 937px #808080af,
    103px 1441px #808080af, 1385px 1279px #808080af, 704px 1280px #808080af, 1463px 947px #808080af,
    1624px 1323px #808080af, 1338px 1347px #808080af, 952px 243px #808080af, 105px 1547px #808080af,
    603px 705px #808080af, 1317px 233px #808080af, 1158px 1442px #808080af, 975px 564px #808080af,
    1051px 1571px #808080af, 1149px 506px #808080af, 836px 2px #808080af, 530px 551px #808080af, 936px 662px #808080af,
    457px 1496px #808080af, 182px 998px #808080af, 1440px 199px #808080af, 288px 1559px #808080af,
    1715px 546px #808080af, 1399px 1476px #808080af, 1400px 1023px #808080af, 621px 1273px #808080af,
    580px 878px #808080af, 769px 251px #808080af, 1173px 1515px #808080af, 1301px 1553px #808080af,
    1463px 642px #808080af;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: "0";
  position: absolute;
  top: 1715px;
  width: 2px;
  height: 2px;
  z-index: -1;
  background: transparent;
  box-shadow: 271px 1324px #090e17, 222px 104px #808080af, 802px 1035px #808080af, 312px 413px #808080af,
    770px 1075px #808080af, 265px 830px #808080af, 1347px 1654px #808080af, 309px 384px #808080af,
    1276px 946px #808080af, 272px 1269px #808080af, 804px 977px #808080af, 1622px 687px #808080af, 34px 737px #808080af,
    1308px 712px #808080af, 1380px 1667px #808080af, 720px 1609px #808080af, 1564px 50px #808080af,
    343px 934px #808080af, 589px 784px #808080af, 1564px 1281px #808080af, 1328px 84px #808080af, 342px 972px #808080af,
    1424px 864px #808080af, 1437px 76px #808080af, 547px 1081px #808080af, 1628px 1594px #808080af,
    199px 710px #808080af, 1056px 154px #808080af, 1416px 521px #808080af, 1454px 1327px #808080af,
    1480px 853px #808080af, 274px 303px #808080af, 418px 1208px #808080af, 1431px 1624px #808080af,
    1535px 500px #808080af, 1456px 1573px #808080af, 746px 434px #808080af, 11px 1501px #808080af,
    403px 1376px #808080af, 1248px 1060px #808080af, 705px 390px #808080af, 1063px 1586px #808080af,
    1413px 691px #808080af, 572px 70px #808080af, 1035px 993px #808080af, 1440px 966px #808080af,
    1651px 1505px #808080af, 1306px 1651px #808080af, 409px 633px #808080af, 379px 1398px #808080af,
    668px 315px #808080af, 1333px 401px #808080af, 1487px 1311px #808080af, 638px 1047px #808080af,
    848px 242px #808080af, 526px 207px #808080af, 146px 1570px #808080af, 1140px 754px #808080af,
    1438px 1708px #808080af, 99px 1408px #808080af, 1483px 1567px #808080af, 1345px 202px #808080af,
    1039px 306px #808080af, 1488px 1354px #808080af, 443px 29px #808080af, 1093px 1485px #808080af,
    202px 318px #808080af, 355px 802px #808080af, 851px 154px #808080af, 126px 583px #808080af, 1232px 1096px #808080af,
    1590px 1171px #808080af, 726px 1452px #808080af, 1175px 1278px #808080af, 695px 887px #808080af,
    204px 1184px #808080af, 83px 672px #808080af, 887px 452px #808080af, 452px 1438px #808080af, 1316px 614px #808080af,
    745px 1013px #808080af, 1233px 741px #808080af, 835px 581px #808080af, 1466px 302px #808080af,
    1318px 619px #808080af, 891px 801px #808080af, 478px 1220px #808080af, 670px 179px #808080af, 734px 303px #808080af,
    1272px 1310px #808080af, 840px 211px #808080af, 558px 1019px #808080af, 1360px 287px #808080af,
    1469px 635px #808080af, 125px 1290px #808080af, 683px 893px #808080af, 1346px 1662px #808080af,
    1047px 468px #808080af, 1667px 1465px #808080af, 1303px 56px #808080af, 414px 262px #808080af,
    718px 1318px #808080af, 1128px 1345px #808080af, 837px 778px #808080af, 1697px 588px #808080af,
    1086px 37px #808080af, 936px 1598px #808080af, 940px 325px #808080af, 146px 266px #808080af, 661px 1242px #808080af,
    460px 1545px #808080af, 251px 291px #808080af, 932px 10px #808080af, 1250px 363px #808080af, 17px 1201px #808080af,
    1443px 305px #808080af, 1517px 1248px #808080af, 481px 1172px #808080af, 1170px 580px #808080af,
    190px 411px #808080af, 1024px 1602px #808080af, 473px 1431px #808080af, 886px 686px #808080af, 10px 671px #808080af,
    1115px 254px #808080af, 137px 982px #808080af, 164px 893px #808080af, 1472px 651px #808080af, 608px 1118px #808080af,
    130px 596px #808080af, 707px 225px #808080af, 51px 155px #808080af, 259px 95px #808080af, 113px 1212px #808080af,
    970px 586px #808080af, 1044px 20px #808080af, 1656px 1035px #808080af, 1255px 565px #808080af,
    446px 1217px #808080af, 496px 221px #808080af, 597px 1583px #808080af, 474px 525px #808080af, 38px 226px #808080af,
    1212px 317px #808080af, 204px 237px #808080af, 603px 477px #808080af, 375px 1096px #808080af, 1117px 735px #808080af,
    218px 1678px #808080af, 938px 315px #808080af, 784px 1121px #808080af, 477px 832px #808080af, 1290px 341px #808080af,
    448px 1652px #808080af, 1136px 1211px #808080af, 1530px 283px #808080af, 457px 1330px #808080af,
    1204px 754px #808080af, 816px 327px #808080af, 930px 396px #808080af, 1323px 54px #808080af, 610px 945px #808080af,
    445px 1526px #808080af, 1588px 547px #808080af, 297px 293px #808080af, 96px 1059px #808080af,
    1024px 1312px #808080af, 1574px 357px #808080af, 1600px 690px #808080af, 185px 937px #808080af,
    103px 1441px #808080af, 1385px 1279px #808080af, 704px 1280px #808080af, 1463px 947px #808080af,
    1624px 1323px #808080af, 1338px 1347px #808080af, 952px 243px #808080af, 105px 1547px #808080af,
    603px 705px #808080af, 1317px 233px #808080af, 1158px 1442px #808080af, 975px 564px #808080af,
    1051px 1571px #808080af, 1149px 506px #808080af, 836px 2px #808080af, 530px 551px #808080af, 936px 662px #808080af,
    457px 1496px #808080af, 182px 998px #808080af, 1440px 199px #808080af, 288px 1559px #808080af,
    1715px 546px #808080af, 1399px 1476px #808080af, 1400px 1023px #808080af, 621px 1273px #808080af,
    580px 878px #808080af, 769px 251px #808080af, 1173px 1515px #808080af, 1301px 1553px #808080af,
    1463px 642px #808080af;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 498px 234px #090e17, 1236px 427px #808080af, 252px 1115px #808080af, 134px 247px #808080af,
    101px 41px #808080af, 1093px 36px #808080af, 275px 759px #808080af, 121px 1363px #808080af, 1045px 1323px #808080af,
    359px 795px #808080af, 581px 336px #808080af, 1301px 419px #808080af, 1127px 1117px #808080af,
    1441px 934px #808080af, 105px 647px #808080af, 673px 1237px #808080af, 560px 1179px #808080af,
    258px 1421px #808080af, 1131px 954px #808080af, 963px 954px #808080af, 224px 818px #808080af, 19px 435px #808080af,
    1072px 1509px #808080af, 586px 1526px #808080af, 124px 909px #808080af, 756px 559px #808080af,
    872px 1126px #808080af, 125px 539px #808080af, 261px 1056px #808080af, 310px 948px #808080af,
    1493px 1236px #808080af, 657px 1319px #808080af, 1651px 175px #808080af, 847px 1054px #808080af,
    1153px 1212px #808080af, 1658px 946px #808080af, 1096px 837px #808080af, 158px 1372px #808080af,
    318px 188px #808080af, 1331px 648px #808080af, 321px 616px #808080af, 1020px 459px #808080af, 887px 589px #808080af,
    575px 743px #808080af, 384px 1141px #808080af, 292px 1161px #808080af, 86px 447px #808080af, 1615px 1041px #808080af,
    707px 200px #808080af, 461px 1559px #808080af, 1147px 196px #808080af, 1156px 1182px #808080af,
    323px 907px #808080af, 262px 718px #808080af, 973px 1460px #808080af, 1089px 1197px #808080af, 250px 986px #808080af,
    20px 80px #808080af, 1417px 1699px #808080af, 1118px 1103px #808080af, 842px 133px #808080af, 76px 277px #808080af,
    540px 771px #808080af, 749px 1432px #808080af, 452px 223px #808080af, 682px 424px #808080af, 987px 646px #808080af,
    73px 1476px #808080af, 968px 512px #808080af, 508px 1230px #808080af, 107px 1589px #808080af,
    1527px 1703px #808080af, 1265px 582px #808080af, 765px 947px #808080af, 736px 1258px #808080af,
    993px 1619px #808080af, 181px 369px #808080af, 1477px 243px #808080af, 1618px 1263px #808080af,
    1620px 581px #808080af, 1550px 172px #808080af, 1187px 398px #808080af, 103px 1714px #808080af, 729px 43px #808080af,
    1479px 987px #808080af, 733px 1067px #808080af, 1390px 1693px #808080af, 401px 1013px #808080af,
    1301px 991px #808080af, 627px 284px #808080af, 956px 1342px #808080af, 1704px 1522px #808080af,
    701px 1479px #808080af, 194px 1272px #808080af, 1047px 735px #808080af, 1286px 1168px #808080af,
    648px 1041px #808080af, 870px 1714px #808080af, 24px 1070px #808080af, 237px 80px #808080af;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: "{}";
  position: absolute;
  top: 1715px;
  width: 3px;
  height: 3px;
  z-index: -1;
  background: transparent;
  box-shadow: 498px 234px #090e17, 1236px 427px #808080af, 252px 1115px #808080af, 134px 247px #808080af,
    101px 41px #808080af, 1093px 36px #808080af, 275px 759px #808080af, 121px 1363px #808080af, 1045px 1323px #808080af,
    359px 795px #808080af, 581px 336px #808080af, 1301px 419px #808080af, 1127px 1117px #808080af,
    1441px 934px #808080af, 105px 647px #808080af, 673px 1237px #808080af, 560px 1179px #808080af,
    258px 1421px #808080af, 1131px 954px #808080af, 963px 954px #808080af, 224px 818px #808080af, 19px 435px #808080af,
    1072px 1509px #808080af, 586px 1526px #808080af, 124px 909px #808080af, 756px 559px #808080af,
    872px 1126px #808080af, 125px 539px #808080af, 261px 1056px #808080af, 310px 948px #808080af,
    1493px 1236px #808080af, 657px 1319px #808080af, 1651px 175px #808080af, 847px 1054px #808080af,
    1153px 1212px #808080af, 1658px 946px #808080af, 1096px 837px #808080af, 158px 1372px #808080af,
    318px 188px #808080af, 1331px 648px #808080af, 321px 616px #808080af, 1020px 459px #808080af, 887px 589px #808080af,
    575px 743px #808080af, 384px 1141px #808080af, 292px 1161px #808080af, 86px 447px #808080af, 1615px 1041px #808080af,
    707px 200px #808080af, 461px 1559px #808080af, 1147px 196px #808080af, 1156px 1182px #808080af,
    323px 907px #808080af, 262px 718px #808080af, 973px 1460px #808080af, 1089px 1197px #808080af, 250px 986px #808080af,
    20px 80px #808080af, 1417px 1699px #808080af, 1118px 1103px #808080af, 842px 133px #808080af, 76px 277px #808080af,
    540px 771px #808080af, 749px 1432px #808080af, 452px 223px #808080af, 682px 424px #808080af, 987px 646px #808080af,
    73px 1476px #808080af, 968px 512px #808080af, 508px 1230px #808080af, 107px 1589px #808080af,
    1527px 1703px #808080af, 1265px 582px #808080af, 765px 947px #808080af, 736px 1258px #808080af,
    993px 1619px #808080af, 181px 369px #808080af, 1477px 243px #808080af, 1618px 1263px #808080af,
    1620px 581px #808080af, 1550px 172px #808080af, 1187px 398px #808080af, 103px 1714px #808080af, 729px 43px #808080af,
    1479px 987px #808080af, 733px 1067px #808080af, 1390px 1693px #808080af, 401px 1013px #808080af,
    1301px 991px #808080af, 627px 284px #808080af, 956px 1342px #808080af, 1704px 1522px #808080af,
    701px 1479px #808080af, 194px 1272px #808080af, 1047px 735px #808080af, 1286px 1168px #808080af,
    648px 1041px #808080af, 870px 1714px #808080af, 24px 1070px #808080af, 237px 80px #808080af;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1715px);
  }
}
