.done {
  text-decoration: line-through;
  font-size: smaller;
  opacity: 0.5;
}

.editForm {
  display: none;
}

.editForm.open {
  text-decoration: none;
  display: block;
}

.listStyle {
  border-bottom: 1px dotted rgba(128, 128, 128, 0.349);
  transition: all 0.3s ease-in-out;
}

.hide {
  display: none;
}
